<div class="container py-5">
  <h1 class="mb-4">My Healthy Map</h1>

  <p class="mb-5">
    Front-end component testing
  </p>

  <div class="d-flex gap-3 flex-wrap">
    <%= link_to "Primary Button", "#", class: "btn btn-primary" %>

    <%= link_to "Secondary Button", "#", class: "btn btn-outline-primary" %>
  </div>
</div>
