<% content_for :head do %>
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.26.0/mapbox-gl.css" rel="stylesheet">
<% end %>

<div id="map" data-controller="map" data-map-token-value="<%= @mapbox_token %>"></div>
